
<div [id]="guid" class="window-container" [ngClass]="{'dragging': isDragging, 'resizing': isResizing}">
    <div class="win-bar"></div>
    <div class="win-content">
        <div class="wb-left"></div>
        <div class="data-outlet">
            <ng-container *ngComponentOutlet="data"></ng-container>
        </div>
        <!-- <iframe src="https://ft5000.github.io/dark-descent/" frameborder="0"></iframe> -->
        <div class="wb-right"></div>
    </div>
    <div class="wb-bot"></div>
</div>