
<div [id]="guid" class="window-container" [ngClass]="{'dragging': windowIsBeingDragged, 'resizing': windowIsBeingResized}">
    <div class="win-bar">
        <div class="title-bar">
            <span style="margin-left: 10px; width: fit-content;">{{title}}</span>
        </div>
        <div style="flex: 0;">
            <button (click)="closeWindow()">X</button>
        </div>
    </div>
    <div class="win-content">
        <div class="wb-left"></div>
        <div class="data-outlet">
            <ng-container *captureNgComponentOutlet="data"></ng-container>
        </div>
        <div class="wb-right"></div>
    </div>
    <div class="wb-bot"></div>
</div>