button {
    all: unset;
    color: black;
    padding: 6px;
    user-select: none;
}

.window-container {
    left: calc((100vw / 2) - (480px / 2));
    top: calc((100% / 2) - (640px / 2));
    min-width: 128px;
    min-height: 64px;
    width: var(--width);
    height: var(--height);
    background-color: black;
    color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    transform: translate(var(--xpos), var(--ypos));
    visibility: hidden;
    
    .win-bar {
        cursor: pointer;
        min-width: calc(100% - 2px);
        background-color: white;
        min-height: 32px;
        
        display: flex;
        flex-direction: row;
        user-select: none;

        .title-bar {
            flex: 1;
            color: black;

            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    .wb-bot {
        min-height: 4px;
        min-width: calc(100% - 2px);
        background-color: white;
        cursor: s-resize;
    }

    .win-content {
        flex: 1;
        display: flex;
        flex-direction: row;
        width: 100%;

        .data-outlet {
            flex: 1;
            height: 100%;
            margin: 0;
            min-width: 0;
            overflow: hidden;
            user-select: none;

            iframe {
                /* flex: 1; */
                width: 100%;
                height: 100%;
                user-select: text;
                margin: 0;
                min-width: 0;
            }
        }

        .wb-left {
            min-width: 4px;
            min-height: 100%;
            background-color: white;
        }

        .wb-right {
            min-width: 4px;
            min-height: 100%;
            background-color: white;
            cursor: e-resize;
        }


    }
}

.window-container.dragging {
    cursor: move;
    pointer-events: none;
}

.window-container.resizing {
    cursor: move;
    pointer-events: none;
}
