.splash {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 1;
    transition: top 1s, opacity 1s;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 100vh;
    justify-content: center;
    align-content: space-between;

    .button-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: fit-content;
        height: fit-content;
        padding: 24px;
        display: flex;
        flex-direction: column;
        image-rendering: auto;

        .item {
            margin: auto;
            margin-bottom: 1rem;
        }

        button, a {
            all: unset;
            cursor: pointer;
            color: white;
            font-family: "VT323";
            font-size: 18pt;
            margin: auto;
            margin-bottom: 1rem;
            position: relative;
        }

        button:hover, a:hover {
            color: blue;
            text-decoration: underline;
        }

        button::before,
        a::before,
        button::after,
        a::after {
            content: '';
            background-image: url('../../../assets/favicon1.png');
            width: 24px;
            aspect-ratio: 1;
            background-size: cover;
            opacity: 0;
            transition: opacity 0.3s ease;
        }

        button::before,
        a::before {
            position: absolute;
            left: -48px;
            animation: spin 500ms linear infinite;
        }
        
        button::after,
        a::after {
            position: absolute;
            right: -48px;
            animation: spin 500ms linear infinite;
        }

        button:hover::before,
        a:hover::before,
        button:hover::after,
        a:hover::after {
            opacity: 1;
        }
    }

    .splash-console {
        user-select: none;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-left: 18px;
        width: 200px;
        color: white;
        animation: consoleAppend 240ms forwards;
    
        .splash-message {
            font-family: "VT323";
            font-size: 18px;
            margin-top: 0;
            margin-bottom: 8px;
        }
        
        .splash-message.fade {
            animation: fade 2s forwards;
        }
    }    
}

.splash.hidden {
    top: -100vh;
    opacity: 0;
}

@keyframes fade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes consoleAppend {
    from {
        transform: translateY(-25vh);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes spin {
    0% {
        transform: scaleX(0);
    }
    50% {
        transform: scaleX(-1)
    }
    100% {
        transform: scaleX(0);
    }
}