.splash {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 1;
    transition: top 1s, opacity 1s;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Create responsive grid */
    grid-auto-rows: 100vh; /* Ensure each cell spans the full height */
    justify-content: center; /* Equal spacing between items horizontally */
    align-content: space-between; /* Equal spacing between rows vertically */

    #enter-btn {
        all: unset;
        cursor: pointer;
        color: white;
        font-family: "VT323";
        font-size: 24px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #enter-btn:hover {
        opacity: 0.3;
        text-decoration: underline;
    }

    .splash-console {
        user-select: none;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-left: 18px;
        width: 200px;
        color: white;
        animation: consoleAppend 240ms forwards;
    
        .splash-message {
            font-family: "VT323";
            font-size: 18px;
            margin-top: 0;
            margin-bottom: 8px;
        }
        
        .splash-message.fade {
            animation: fade 2s forwards;
        }
    }    
}

.splash.hidden {
    top: -100vh;
    opacity: 0;
}

@keyframes fade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes consoleAppend {
    from {
        transform: translateY(-25vh);
    }
    to {
        transform: translateY(0);
    }
}