<div style="max-height: 0">
    <div class="readme-container">
        <h1>Welcome</h1>
        <p>I'm a developer working as a full time software engineer.</p>
        <p>I specialize in front-end web development, focusing on crafting responsive and engaging user interfaces. 
            I love creating interesting and appealing experiences for people to interact with.</p>
        <hr>
        <p>Technologies I frequently work with include:</p>
        <ul>
            <li>HTML5</li>
            <li>CSS</li>
            <li>Angular</li>
            <li>Node.js</li>
            <li>Javascript</li>
            <li>C#</li>
            <li>Git</li>
        </ul>
    </div>
</div>



