

<div class="echo-container">
    <img src="../../../assets/images/echo/skins/mono_dark/echo_bg.png">

    <div class="echo-gfx">
        <canvas id="gfx" width="100%" height="100%"></canvas>
    </div>

    <div class="echo-info col center">
        <span *ngIf="selected && isPlaying">&nbsp;Now Playing: {{selectedTitle}}</span>
    </div>

    <div class="echo-track">
        <app-player [showControls]="false"></app-player>
    </div>

    <div class="row w-100 playback-controls">
        <button id="stop-button" (click)="previous()">
            <img src="../../../assets/images/echo/skins/mono_dark/btn_prev.png">
        </button>
        <button id="play-button" (click)="play()">
            <img src="../../../assets/images/echo/skins/mono_dark/btn_play.png">
        </button>
        <button id="pause-button" (click)="pause()">
            <img src="../../../assets/images/echo/skins/mono_dark/btn_pause.png">
        </button>
        <button id="stop-button" (click)="stop()">
            <img src="../../../assets/images/echo/skins/mono_dark/btn_stop.png">
        </button>
        <button id="stop-button" (click)="next()">
            <img src="../../../assets/images/echo/skins/mono_dark/btn_next.png">
        </button>
    </div>

    <div class="echo-list">
        <ng-container *ngFor="let track of playlist; let i = index">
            <div class="row list-item" [ngClass]="{'active': selected === track}" (click)="select(track)">
                <span>{{i}}.&nbsp;{{track}}</span>
            </div>
        </ng-container>
    </div>
</div>


