.echo-container {
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    image-rendering: pixelated;

    min-width: 704px;
    min-height: 448px;
    max-width: 704px;
    max-height: 448px;
    background-color: black;
    font-family: "VT323";
    user-select: none;
    overflow: hidden;

    img {
        pointer-events: none;
    }

    .echo-gfx {
        position: absolute;
        top: 132px;
        left: 72px;
        width: 248px;
        height: 136px;
        background-color: black;

        canvas {
            width: 100%;
            height: 100%;
        }
    }

    .echo-info {
        position: absolute;
        top: 292px;
        left: 72px;
        width: 248px;
        height: 24px;
        font-size: 18px;
        background-color: black;
        
        span {
            width: 100%;
            text-wrap: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: lime;
        }
    }

    .echo-track {
        position: absolute;
        top: 338px;
        left: 70px;
        width: 252px;
        height: 20px;
    }

    .playback-controls {
        position: absolute;
        top: 388px;
        left: 96px;
        width: 198px;
        height: 38px;
        background-color: black;

        button {
            all: unset;
            cursor: pointer;
            transition: opacity 120ms;
            margin-right: 2px;
            width: 38px;
            height: 38px;
            image-rendering: pixelated;
        }
        
        button:hover {
            opacity: 0.3;
        }
    }

    .echo-list {
        position: absolute;
        top: 68px;
        left: 392px;
        width: 248px;
        height: 376px;;
        overflow-y: auto;
        background-color: black;
        color: lime;
        font-size: 18px;

        .list-item {
            cursor: pointer;
            padding: 0 4px;
            height: 24px;
            /* border-bottom: 2px solid black; */
        }

        .list-item:last-child {
            border-bottom: none;
        }

        .list-item:hover {
            /* text-decoration: underline;
            border-bottom: 1px solid lime; */
            background-color: lime;
            color: black
        }

        .list-item.active {
            background-color: black;
            color: white;
        }
    }

    .echo-list::-webkit-scrollbar {
        width: 8px;  /* Width of vertical scrollbar */
        height: 4px; /* Height of horizontal scrollbar */
    }
    
    /* The track (part the scrollbar moves along) */
    .echo-list::-webkit-scrollbar-track {
        background: black;  /* Light gray track */
        /* border-left: 2px dashed white; */
    }
    
    /* The handle (the draggable part of the scrollbar) */
    .echo-list::-webkit-scrollbar-thumb {
        background: white;  /* Darker gray thumb */
        /* border-right: 2px solid black; */
        border-left: 2px solid black;
    }
    
    /* When the handle is hovered */
    .echo-list::-webkit-scrollbar-thumb:hover {
        background: white;  /* Darker on hover */
        cursor: grab;
    }
}