<main>
  <div class="icon-grid">
    <div class="grid-item">
      <div class="row center">
        <img src="../assets/images/text_doc_icon_1.png" (click)="openDarkDescent()">
      </div>
      <div class="row center" style="margin-top: 6px;">
        <span>dark-descent.exe</span>
      </div>
    </div>
    <div class="grid-item">
      <div class="row center">
        <img src="../assets/images/text_doc_icon_1.png" (click)="openSkull()">
      </div>
      <div class="row center" style="margin-top: 6px;">
        <span>mortis.exe</span>
      </div>
    </div>
    <div class="grid-item">
      <div class="row center">
        <img src="../assets/images/text_doc_icon_1.png" (click)="openReadme()">
      </div>
      <div class="row center" style="margin-top: 6px;">
        <span>readme.txt</span>
      </div>
    </div>
  </div>
  <div #view></div>
  <!-- <div class="toolbar"></div> -->
</main>
