<main>
  <div class="icon-grid">
    <app-icon 
      text="dark-descent"
      src="../assets/images/flop_icon_1.png"
      (onClick)="openDarkDescent()">
    </app-icon>
    <app-icon 
      text="mortis" 
      src="../assets/images/sketch_icon_1.png"
      (onClick)="openSkull()">
    </app-icon>
    <app-icon 
          text="readme"
          src="../assets/images/pad_icon_1.png"
          (onClick)="openReadme()">
    </app-icon>
    <app-icon 
      text="contact"
      src="../assets/images/contact_icon_2.png"
      (onClick)="openContact()">
</app-icon>
  </div>
  <div #view></div>
  <!-- <div class="toolbar"></div> -->
</main>
